############################
# Python & Environnement
############################
__pycache__/
*.py[cod]
*.pyo
.env
.venv
env/
venv/

############################
# ML & Modèles
############################
# On ignore les fichiers lourds par défaut
*.pkl
*.joblib
*.h5
# MAIS on force l'inclusion du modèle de production pour l'examen
!models/model.joblib

############################
# Infrastructure & Sécurité
############################
# Pour l'examen, on laisse les certs pour que ça tourne "out-of-the-box"
# (Dans la vraie vie, on les ignorerait)
# On ignore seulement les données de volume persistantes
prometheus_data/
grafana_data/

############################
# Divers
############################
.DS_Store
.pytest_cache/
*.tar
